<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;">Contact Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">

  <ion-card>
    <img style="display: block; border-radius: 20px; margin: auto; padding: 20px;" src="assets/lorenzo.jpeg" alt="Imagen 1">
    <ion-card-header>
      <div class="row">
        <div class="col-md-6">
          <h1 style="text-align: center; padding-top: 0; color: black; font-family: Arial, Helvetica, sans-serif; font-weight: bold;  font-size: 30px;">Datos personales</h1>\
          <ion-item>
            <ion-icon slot="start" name="person"></ion-icon>
            <p style="padding-top: 5px; font-family: 'Mynerve', cursive;">Lorenzo Núñez</p>  
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="logo-web-component"></ion-icon>
            <p style="padding-top: 5px; font-family: 'Mynerve', cursive;">Desarrollador Web FullStack</p>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="mail"></ion-icon>
            <p style="padding-top: 5px; font-family: 'Mynerve', cursive;">Loronf19@gmail.com</p>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="logo-chrome"></ion-icon>
            <p style="padding-top: 5px; font-family: 'Mynerve', cursive;">https://tourmaline-chaja-54b62b.netlify.app/</p>
          </ion-item>
          
        </div>
      </div>
      
    </ion-card-header>
    <ion-card-content style="text-align: center;">
      <ion-button href="assets/CV NEW.pdf" download>
        <ion-icon name="arrow-down-outline"></ion-icon>
        Download My CV
      </ion-button>
      
    </ion-card-content>
  </ion-card>
  



</ion-content>
