<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;">
      Countries<ion-icon name="earth-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="maintenance">
    <img src="assets/danger.png" alt="">
    <h1 class="shake">Site Maintenance  <br><ion-icon name="sad-outline"></ion-icon></h1>
    <p class="shake">Sorry, we are working on improving our site. Please check back later.</p>
  </div>  
</ion-content>